# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.out
*.app

# Build
build/CMakeFiles/*
build/cmake*
build/CMake*
build/Make*
build

#Images And Videos
test_images
camera_cal
output
videos
data

